/* all indiviudal types of cards */
.boxPokemonCard {
  background-color: rgb(100, 100, 100);
  transition: 500ms;
}
.boxPokemonCard:hover {
  background: rgba(100, 100, 100, 0.5);
}

.displayPokemonCard {
  background-color: rgb(100, 100, 100);
  transition: 500ms;
}
.displayPokemonCard:hover {
  background: rgba(100, 100, 100, 0.5);
}

.teamPokemonCard {
  background-color: rgb(100, 100, 100);
  transition: 500ms;
}
.teamPokemonCard:hover {
  background: rgba(100, 100, 100, 0.5);
}

.starterPokemonCard {
  background-color: rgb(100, 100, 100);
  transition: 500ms;
}
.starterPokemonCard:hover {
  background: rgba(100, 100, 100, 0.5);
}

.statsPokemonCard {
  background-color: rgb(100, 100, 100);
  transition: 500ms;

  min-width: 10rem;
  max-width: 30%;
}
.statsPokemonCard:hover {
  background: rgba(100, 100, 100, 0.5);
}

.battlePokemonCard {
  background-color: rgb(92, 77, 77);
  transition: 500ms;
}
.battlePokemonCard:hover {
  background: rgba(100, 100, 100, 0.5);
}

.true {
  background-color: rgb(170, 57, 57);
  transition: 500ms;
}

/* all cards */

.pokemon-card {
  min-width: 8rem;
  width: 20%;
  max-width: 25%;
  max-height: 20rem;
  min-height: 16rem;
}
